
:host{

  & > *:first-child {
    display: flex;
    flex-direction: row;

  &> *{
    flex-grow: 1;
  }

  & > .name-container{
  white-space: nowrap;
  width: 20%;
  overflow: hidden;
  text-overflow: ellipsis;
    }


    & > .number-box{
       width: 2em;
       border-bottom: 1px solid lightgrey;
       margin-left: 2px;
    }

    span{
      line-height: 55px;
      flex-shrink: 1;
      flex-grow: 0;
      margin-right: 10px
    }
  }

}


