<div *ngIf="tournament$ | async as tournament">
    <input type="text" [ngModel]="tournament.name" (ngModelChange)=tournamentChanged($event)>

      <input matInput [matDatepicker]="picker3" placeholder="Value binding" [ngModel]="tournament.startDateTime" (ngModelChange)="tournamentDateChanged($event)">
      <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
      <mat-datepicker #picker3></mat-datepicker>

    <div>
        <mat-card>
           <app-quick-match-editor [allMatches]="allMatches$ | async"></app-quick-match-editor>
        </mat-card>
        <mat-card>
          <app-print [allMatches]="allMatches$ | async"></app-print>
       </mat-card>
    </div>
    <mat-tab-group mat-align-tabs="end" >
      <mat-tab  *ngFor="let league of tournament.leagues; trackBy: trackLeague" label="{{league.name}}">
        <app-league-editor
         (addTeamsToKnockRound)="handleAddTeamToKnockOutRoundEvent($event)"
         (addGroup)="handleAddGroupToLeagueEvent($event)"
         [league]="league"></app-league-editor>
      </mat-tab>
    </mat-tab-group>
</div>



